.page-title {
  background-color: $green;
  margin-top: 89px;
  padding: 20px 0 34px;

  &__eyebrow {
    color: $white;
    margin-bottom: 17px;
    text-transform: uppercase;
  }

  &__heading {
    color: $white;
  }

  @include viewport-desktop {
    background-color: $white;
    margin-bottom: 40px;
    margin-top: 260px;
    padding: 0;

    &__eyebrow {
      display: none;
    }

    &__heading {
      color: $blue-grey-dark;
    }
  }
}
