.text-block-comp {
  &__container {
    @extend .grid;

    background-color: $white;
    grid-template-rows: [row1-start] 50px [row1-end] auto [third-line] 50px [third-end] auto [fourth-start] 50px [fourth-end];
  }

  &__title {
    @extend .display;
    @extend .display-2;

    color: $blue-grey-dark;
    font-stretch: normal;
    font-style: normal;
    grid-column-end: 11;
    grid-column-start: 2;
    grid-row: row1-end / third-line;
  }

  &__text {
    @extend .text;
    @extend .text-normal;

    color: $blue-grey-dark;
    font-stretch: normal;
    font-style: normal;
    grid-column-end: 12;
    grid-column-start: 2;
    grid-row: third-end / fourth-start;
  }
}
