//Grid Mobile
.grid {
  column-gap: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 3px;
  @include viewport-desktop {
    column-gap: 20px;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 6px;
  }
}

.container {
  margin: 0 30px;
  max-width: 1180px;

  @include viewport-desktop {
    margin: 0 auto;
  }
}

