/* Reset/normalize */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img,
video {
  width: 100%;
}

//Buttons reset
button {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
}

//Style for default view to avoid overflow
.default {
  overflow: hidden;
}

// Class to lock the scroll of the page
.lock-scroll {
  position: fixed;
}
