/* Reset/normalize */
*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

img,
video {
  width: 100%
}

//Style for default view to avoid overflow
.default {
  overflow: hidden;
}

// Class to lock the scroll of the page

.lock-scroll {
  position: fixed;
}

