/* Sass Variables */

//Colors
$black: #000;
$blue-grey: #474f78;
$blue-grey-dark: #323755;
$blue-grey-light: #adb0c4;
$green: #0c5a45;
$green-dark: #043326;
$grey: #d8d8d8;
$orange: #ffb000;
$yellow: #ffcc36;
$white: #fff;
