.footer {
  background-color: $green-dark;

  &__title-link {
    color: $white;
    grid-column: 2 / 6;
    padding-top: 50px;

    @include viewport-desktop {
      grid-column: 2 / 4;
      padding-bottom: 50px;
      padding-left: 20px;
    }
  }

  &__container-text {
    color: $white;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 12;
    margin: 25px 0 35px;

    @include viewport-desktop {
      align-items: center;
      display: flex;
      flex-direction: row;
      grid-column: 4 / 11;
      margin: 50px 0;
      padding-left: 20px;
    }
  }

  &__container-email {
    display: inline-flex;
    margin: 9px 0;

    @include viewport-desktop {
      margin: 0 45px;
    }
  }

  &__container-phone {
    display: inline-flex;
  }

  &__email-label {
    margin-right: 5px;
  }

  &__phone-label {
    margin-right: 5px;
  }

  &__container-link {
    grid-column: 2 / 4;
    padding-bottom: 48px;
    width: 41px;

    @include viewport-desktop {
      align-items: center;
      display: flex;
      grid-column: 11 / 12;
      margin-left: auto;
      margin-right: 10px;
      padding: 39px 0;
      width: 40px;
    }
  }
}
