.nav {
  &__button-menu {
    background: transparent;
    border: 0;
    border-radius: 39px;
    bottom: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.11);
    outline: 0;
    position: fixed;
    right: 20px;
    width: 60px;
    z-index: 999;

    & img {
      display: block;
    }
  }

  &__overlay {
    background: $green-dark;
    bottom: -100%;
    display: block;
    height: 100vh;
    left: 0;
    padding: 210px 20px 20px;
    position: fixed;
    transition: transform 0.15s linear;
    width: 100%;
    z-index: 999;

    &--active {
      transform: translateY(-100%);
    }
  }

  &__menu {
    display: block;
    margin: 0 auto;
    width: 200px;

    &-item {
      border-radius: 39px;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }

    &-link {
      background: white;
      border-radius: 39px;
      color: $blue-grey-dark;
      display: block;
      padding: 20px;
      text-align: center;
    }
  }

  &__button-close {
    background: transparent;
    border: 1px solid red;
    border: 0;
    bottom: 20px;
    outline: 0;
    position: absolute;
    right: 20px;
    width: 60px;
  }
}

.default {
  display: none;
}
